<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.purplemartin.purplemartinid">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BirdListingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PurpleMartinInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".TreeSwallowInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BarnSwallowInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EuropeanStarlingInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BankSwallowInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CliffSwallowInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GreatCrestedFlycatcherInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseWrenInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EasternBluebirdInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseFinchInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseSparrowInfoActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PurpleMartinBirdActivity" android:screenOrientation="portrait">
    </activity>
        <activity android:name=".PurpleMartinNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PurpleMartinEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PurpleMartinHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".TreeSwallowBirdActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".TreeSwallowNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".TreeSwallowEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".TreeSwallowHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BarnSwallowBirdActivity" android:screenOrientation="portrait">
    </activity>
        <activity android:name=".BarnSwallowNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BarnSwallowEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BarnSwallowHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EuropeanStarlingBirdActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EuropeanStarlingNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EuropeanStarlingEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EuropeanStarlingHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BankSwallowBirdActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BankSwallowNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BankSwallowEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BankSwallowHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CliffSwallowBirdActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CliffSwallowNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CliffSwallowEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CliffSwallowHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GreatCrestedFlycatcherBirdActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GreatCrestedFlycatcherNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GreatCrestedFlycatcherEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".GreatCrestedFlycatcherHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseWrenBirdActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseWrenNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseWrenEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseWrenHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EasternBluebirdBirdActivity" android:screenOrientation="portrait">
    </activity>
        <activity android:name=".EasternBluebirdNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EasternBluebirdEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EasternBluebirdHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseFinchBirdActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseFinchNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseFinchEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseFinchHousingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseSparrowBirdActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseSparrowNestActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseSparrowEggActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseSparrowHousingActivity" android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>